<p align="center">
<img src="{{ site.url }}/data/img/{{ site.owner.avatar }}" class="bio-photo" alt="{{ site.owner.name }} bio photo"></a>
</p>
<h3 align="center">{{ site.owner.name }}</h3>
<p align="center">{{ site.owner.bio }}</p>
{% if site.owner.twitter %}<a align="center" href="http://twitter.com/{{ site.owner.twitter }}" class="author-social" target="_blank"><i class="icon-twitter"></i> Twitter</a>{% endif %}
{% if site.owner.github %}<a align="center" href="http://github.com/{{ site.owner.github }}" class="author-social" target="_blank"><i class="icon-github"></i> Github</a>{% endif %}
<br>
<p algin="center">
<script type="text/javascript" src="http://ji.revolvermaps.com/r.js"></script><script type="text/javascript">rm_f1st('0','150','true','false','ffffff','8tuhaxyvvqh','true','ff0000');</script><noscript><applet codebase="http://ri.revolvermaps.com/j" code="core.RE" width="150" height="150" archive="g.jar"><param name="cabbase" value="g.cab" /><param name="r" value="true" /><param name="n" value="false" /><param name="i" value="8tuhaxyvvqh" /><param name="m" value="0" /><param name="s" value="150" /><param name="c" value="ff0000" /><param name="v" value="true" /><param name="b" value="000000" /><param name="rfc" value="true" /></applet></noscript>
</p>
